/models/
/player_pgns/
/chess_data_parse/dataset
/chess_data_parse/dataset_2
/chess_data_parse/dataset_3
/chess_data_parse/dataset_4
/chess_data_parse/players
/chess_data_parse/players_sae
/players_pgn_output
/chess_data_parse/BT4-1740.pb.gz
/.idea